.table {
  display: flex;
  flex-direction: column;
  width: 100%;
  // max-width: 1024px;
  .table-header {
    background: #fffece;
    text-align: center;
    color: black;
    font-weight: 600;
  }
  .table-grid {
    display: grid;
    grid-template-columns: minmax(auto, 70px) minmax(auto, 1fr) auto minmax(auto, 1fr) 100px;
    @include md {
      grid-template-columns: minmax(auto, 150px) minmax(auto, 1fr) minmax(70px, 100px) minmax(auto, 150px) 100px;
    }
  }
  .table-content {
    text-align: center;
    li {
      white-space: nowrap;
    }
  }
}
